body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #EEE4F2;
}

.container {
    background-color: #E6D8ED;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 40px;
    color: #333;
    text-align: center;
}

.upload-section {
    margin: 30px 0;
    padding: 20px;
    border-radius: 5px;
    text-align: left;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

#imageInput {
    margin: 10px 0;
    text-align: center;
}

#uploadButton {
    background-color: #8333EB;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#uploadButton:hover {
    background-color: #B934EA;
}

#uploadButton:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#imagePreview {
    margin: 20px 0;
    text-align: center;
}

#imagePreview img {
    max-width: 400px;
    max-height: 400px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#results {
    margin-top: 30px;
    padding: 20px;
    background-color: #D4C1DE;
    border-radius: 5px;
    display: none;
}

.prediction {
    font-size: 24px;
    color: #8333EB;
    font-weight: bold;
    margin: 10px 0;
}

.prediction:hover {
    color: #B934EA;
}

.confidence {
    font-size: 20px;
    color: #666;
}

.confidence:hover {
    font-size: 28px;
    color: black
}

.top5 {
    margin-top: 20px;
}

.top5-item {
    padding: 8px;
    margin: 5px 0;
    background-color: white;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
}

.loading {
    text-align: center;
    color: #666;
    font-style: italic;
}

.error {
    color: #d32f2f;
    padding: 10px;
    background-color: #ffebee;
    border-radius: 5px;
    margin-top: 10px;
}
